In [5]:
import pandas as pd

load_df = pd.read_csv('load_data.csv', parse_dates=['TIMESTAMP']).bfill()

In [8]:
load_df[load_df['TIMESTAMP'].duplicated(keep=False)]

,TIMESTAMP,ZONEID,LOAD,w1,w2,w3,w4,w5,w6,w7,...,w16,w17,w18,w19,w20,w21,w22,w23,w24,w25
720,2010-12-01 01:00:00,1,88.8,71,64,49,63,70,65,66,...,67,63,67,64,66,65,64,69,67,65
721,2010-12-01 02:00:00,1,82.9,67,64,48,59,71,66,67,...,68,58,66,64,66,63,66,70,68,67
722,2010-12-01 03:00:00,1,82.0,63,64,41,56,70,64,67,...,68,55,66,63,68,63,66,71,69,67
723,2010-12-01 04:00:00,1,81.1,59,64,39,54,70,64,68,...,70,54,68,55,67,64,66,71,70,66
724,2010-12-01 05:00:00,1,83.3,54,64,37,52,70,65,68,...,68,52,69,54,69,65,66,64,64,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94411,2010-11-09 21:00:00,1,150.2,45,45,49,57,49,44,45,...,47,45,46,55,45,47,45,49,48,46
94412,2010-11-09 22:00:00,1,144.6,45,43,48,54,47,43,45,...,46,44,45,55,45,48,43,46,44,44
94413,2010-11-09 23:00:00,1,133.8,42,43,43,48,46,42,44,...,45,42,45,55,42,48,43,45,43,43
94918,2010-12-01 00:00:00,1,95.5,70,64,49,68,69,64,68,...,66,66,68,64,67,62,64,69,66,65
95662,2010-11-01 00:00:00,1,100.1,47,52,51,52,53,57,51,...,55,45,53,50,51,58,48,48,50,47

In [12]:
load_df.shape[0] / load_df['TIMESTAMP'].duplicated().sum()

np.float64(21.0850782455367)

In [14]:
95640/24

3985.0